<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJe87cTMRR8hZOvRyXPVcB4xRUnml-rG4</string>
	<key>GCM_SENDER_ID</key>
	<string>417854260659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.web.kbtu</string>
	<key>PROJECT_ID</key>
	<string>kbtu-4554c</string>
	<key>STORAGE_BUCKET</key>
	<string>kbtu-4554c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417854260659:ios:de72dfc0babc394f29b7c6</string>
	<key>DATABASE_URL</key>
	<string>https://kbtu-4554c-default-rtdb.firebaseio.com</string>
</dict>
</plist>